{% extends 'base.html.twig' %}

{% block title %}supprimer la réponse{% endblock %}

{% block body %}




{#<form method="post" action="{{ path('app_reponse_delete', {'id': reponse.id}) }}" style="display:inline;">#}
{#    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reponse.id) }}">#}
{#    <button class="btn btn-danger btn-sm" type="submit">#}
{#        <i class="bi bi-trash"></i> Supprimer#}
{#    </button>#}
{#</form>#}
{% endblock %}
