{% extends 'base.html.twig' %}

{% block title %}Modifier la réponse{% endblock %}

{% block body %}
    <div class="container mt-4 h-75">
        <h1>Modifier la réponse</h1>

        {# Inclure le formulaire pour modifier la réponse #}
        {{ include('reponse/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        {# Lien pour revenir à la liste des réponses #}
        <a href="{{ path('app_reponse_list') }}" class="btn btn-secondary mt-3">Retour à la liste</a>

        {# Inclure le formulaire pour supprimer la réponse #}
        {{ include('reponse/_delete_form.html.twig') }}
    </div>
{% endblock %}
