{% extends 'base.html.twig' %}

{% block title %}Edit ObjetPerdu{% endblock %}

{% block body %}
    <h1>Edit ObjetPerdu</h1>

    {{ include('objet_perdu/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_objet_perdu_index') }}">back to list</a>

    {{ include('objet_perdu/_delete_form.html.twig') }}
{% endblock %}
